.panorama-container {
    width: 100%; /* Full width of the screen */
    height: 100%; /* Adjust to fit your desired height */
    overflow-x: auto; /* Horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrolling */
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: row;
    display: flex;
}

.panorama {
    height: 100%;
    display: inline-block;
}

.bottomBar {
    position: fixed;
    background-color: white;
    width: fit-content;
    bottom: 10%;
    align-self: center;
    flex-direction: row;
    display: flex;background: linear-gradient(to bottom, white, grey);
    border-radius: 15px;
}

.bottomBar button {
    background-color: transparent;
    border-color: transparent;
    margin: 5px;
    
}

.bottomBar h1 {
    font-size: 22px;
    margin-left: 5px;
}

.overlay-square {
    position: absolute;
    border-radius: 15px;
    z-index: 10;
    border: 2px solid blue; /* Square border color */
    background-color: rgba(52, 80, 164, 0.2);
}

.overlay-square:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.overlay-square p {
    color: white;
    align-self: center;
    text-align: center;
    font-weight: bold;
}
